* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.skills {
  width: 93%;
}

.skills h2 {
  font-family: var(--heading-font);
  color: var(--headingColor);
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
.skillbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillbar ul {
  margin-top: 0.4%;
  padding: 0.7em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  width: 95%;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  background-blend-mode: overlay, normal;
  border: 1.5px solid var(--stroke-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(40px);
  border-radius: 20px;
}

.skillbar > ul > li {
  border-radius: 7px;
  list-style: none;
  font-family: var(--button-font);
  font-weight: bold;
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--outline);
  padding: 0.4em 2em;
  background-color: var(--navNbutton-color);
}
.skillbar > ul > li:hover {
  color: black;
  background: linear-gradient(90deg, #2979ff 0%, #18ffff 100%);
}
