* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section1 {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section1Container {
  position: absolute;
  top: -5%;
  z-index: 10;
  height: 105%;
  background-color: var(--sectbg);
  border-radius: 10px;
  padding: 4.5% 3%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  border: 2px solid var(--stroke-color);
  width: 89%;
  pointer-events: auto;
}
.nameHeader {
  font-family: var(--name-font);
  font-size: clamp(1rem, 3vw, 2.5rem);
  font-weight: 800;
  color: var(--nameColor);
  margin: 0;
  padding: 0;
}

.sect1Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
}

.aboutme {
  height: 100%;
  width: 50%;
  font-family: var(--paragraph-font);
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 600;
  color: var(--nameColor);
}
.intro {
  margin-bottom: 3%;
  margin-top: 1%;
}
.description {
  margin-bottom: 2%;
  text-align: justify;
  line-height: 18px;
}
.learning {
  margin-bottom: 6%;
}
.learning h4 {
  font-size: 1.1em;
  margin-bottom: 3%;
}
.learning ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2%;
}
.learning ul > li {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
.learnIcon {
  width: 30px;
  height: 30px;
}
.learnIcon:hover {
  animation: bounce 0.6s ease-in-out;
}
.python {
  color: #3776ab;
}
.ai {
  color: #ff6f00;
}
.nextjs {
  color: var(--stroke-color);
}
.firstSocials {
  display: flex;
  flex-direction: row;
  gap: 0.3em;

  width: 100%;
}
.firstSocials a {
  color: var(--nameColor);
}

.socialIcon {
  color: var(--stroke-color);
  width: 25px;
  height: 25px;
}
.socialIcon:hover {
  animation: glowExpand 0.6s forwards;
  color: #2979ff;
  /* color: linear-gradient(90deg, #2979ff 0%, #18ffff 100%); */
}
a {
  text-decoration: none;
}
.cv-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 6%;
}
.btnView {
  width: fit-content;
  font-family: var(--paragraph-font);
  font-size: clamp(0.6rem, 1.7vw, 2.5rem);
  font-weight: 600;
  color: var(--nameColor);
  border: 1.5px solid var(--stroke-color);
  border-radius: 5px;
  background-color: var(--navNbutton-color);
  padding: 6px 40px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
}
.btnView:hover {
  animation: glowExpand 0.6s forwards;
  border-color: white;
  background: linear-gradient(90deg, #2979ff 0%, #18ffff 100%);
}
.btnDownload {
  margin-left: 8%;
  width: fit-content;
  color: var(--nameColor);
  border-bottom: 2px solid var(--nameColor);
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 0.6rem);
  transition: all 0.2s ease;
}
.btnDownload:hover {
  color: var(--stroke-color);
  border-bottom: 2px solid var(--stroke-color);
  animation: bounce 0.6s ease-in-out;
  animation-iteration-count: 3;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(-1px);
  }
}
@keyframes glowExpand {
  0% {
    box-shadow: 0 0 0px rgba(24, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 20px rgba(24, 255, 255, 0.9);
  }
}

.illustration {
  width: 45%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  width: 100%;
  margin-top: 3%;
}
@media (max-width: 768px) {
  .illustration {
    display: none;
  }
  .aboutme {
    margin-top: 1%;
    width: 100%;
  }
  .btnDownload {
    margin-left: 1%;
  }
  .nameHeader {
    width: 100%;
    margin-top: 3%;
  }
  .section1 {
    height: 400px;
  }
}

@media (max-width: 350px) {
  .nameHeader {
    width: 100%;
    margin-top: 5%;
  }
  .section1 {
    height: 500px;
  }
}
