@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&family=Raleway:wght@400;500;600;700;800&display=swap");

:root {
  --logo-color: rgba(0, 0, 0, 0.58);
  --bg-color: #f5efeb;
  --sun-color: #fad500;
  --stroke-color: #050505;
  --moon-color: #2979ff;
  --navNbutton-color: #2f4156;
  --white: #ffffff;
  --sectbg: #ffffff;
  --buttonText: #d8dbd4;
  --nameColor: #567c8d;
  --skillsColor: #577b8e;
  --headingColor: #2979ff;
  --formlabelColor: #587b8d;
  --projectViewColor: rgba(0, 0, 0, 0.454);
  --projectViewTextColor: #ffffff;
  --logo-font: "Monoton", cursive;
  --nameheader-font: "Poppins", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --name-font: "Raleway", sans-serif;
  --heading-font: "DM Sans", sans-serif;
  --paragraph-font: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.2%;
}

.logo {
  padding-top: 0.7em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 3em;
}

.logo h1 {
  font-family: var(--logo-font);
  color: var(--logo-color);
  font-size: clamp(2rem, 3.5vw, 3rem);
  width: fit-content;
  height: fit-content;
  left: 48%;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%);
}

.themetoggleSect {
  margin-right: 1%;
}

.firstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1.5%;
  width: 100%;
}

.skillSection,
.secondSection,
.thirdSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5%;
}
